// variables for fonts

$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize26: 26px;
$fontSize28: 28px;
$fontSize30: 30px;



//variables for colors

$primary: #334BFA;
$primaryHover: #2a42fa;
$secondary: #E8E8E8;
$liteGrey: #F1F1F1;
$white: #fff;
$black: #000;
$heading: #3C3C3C;
$subHeading: #181818;


//variables for font weight

$fw100: 100;
$fw200: 200;
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;
