<div class="sidebar">
    <div class="sidebarTop">
        <img src="../../../assets/images/file.svg" alt="file">
    </div>
    <div class="sidebarBottom">
        <div class="sidebarBottomIcon">
            <img src="../../../assets/images/menu.svg" alt="menu">
        </div>
        <div class="sidebarBottomIcon">
            <img src="../../../assets/images/bell.svg" alt="bell">
        </div>
        <div class="sidebarBottomIcon">
            <img src="../../../assets/images/account.svg" alt="account">
        </div>
    </div>
</div>